@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

* {
    box-sizing: border-box;
}

body {
    background-color: #EBEBEB;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: 0;
}

body input, select {
    border-radius: 2px;
    border: transparent;
    outline: none;
}

header {
    max-width: 850px;
    background-color: #F1F1F1;
    color: #32A2E4;
    margin: auto;
    font-size: 28px;
    border-bottom: 1px dashed lightgrey;
}

header h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
}

section.information {
    max-width: 850px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed lightgrey;
}

section.information h4 {
    font-size: 16px;
}

section.information form {
    margin-top: 20px;
    margin-left: 30px;
}

section.information form label {
    position: relative;
}

section.information form label i {
    position: absolute;
    left: 125px;
    bottom: 4px;
    font-size: 0.9em;
}

section.information form input {
    width: 140px;
    margin-top: 5px;
}

section.detailed-info {
    width: 850px;
    margin: auto;
    border-bottom: 1px dashed lightgrey;
}

section.detailed-info form {
    position: relative;
}

section.detailed-info h4 {
    margin-bottom: 0px;
    font-size: 16px;
}

section.detailed-info input, select {
    margin-top: 5px;
}

section.detailed-info .reservation-info div:nth-of-type(3), div:nth-of-type(4) {
    margin-top: 5px;
}

section.detailed-info input::-webkit-input-placeholder {
    padding-left: 3px;
}

section.detailed-info .personal-info {
    max-width: 200px;
    display: inline-block;
}

section.detailed-info .personal-info input {
    display: block;
    margin-bottom: 10px;
    width: 150px;

}
section.detailed-info .reservation-info {
   max-width: 450px;
    display: inline-block;
    margin-left: 220px;
}

section.detailed-info .reservation-info div {
    display: inline-block;
}

section.detailed-info .reservation-info span, input {
    display: block;
}


section.detailed-info .reservation-info select {
    width: 250px;
}

section.detailed-info .reservation-info input[type="date"] {
    width: 208px;
}

input[type="submit"] {
    position: absolute;
    right: 40px;
    bottom: -50px;
    border-radius: 5px;
    width: 90px;
    heigth: 60px;
    padding: 5px;
    color: white;
    background-color: #32A2E4;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #3BBC96;
}