body {
    font-family: Verdana, Arial, Helvetica;
}
main {
    margin: 0 auto;
    width: 610px;
}
article {
    display: inline-block;
    width: 280px;
    vertical-align: top;
    border: 1px solid #A192B0;
    box-shadow: 1px 1px 5px #A192B0;
    margin: 5px;
    box-sizing: border-box;
    height: 285px;
}
article img {
    float: left;
}
h3{
    font-size: 13px;
    margin-bottom: 0;
}
p > time {
    font-size: 10px;
    color: #A192B0;
}
.time {
    margin-bottom: 0;
    margin-top: 0;
}
p {
    font-size: 13px;
}
p, h3, img {
    padding-left: 5px;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}
