.mylist {
    background-color: #f7f381;
    width: 320px;
    margin: auto;
    padding: 20px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: grey;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: grey;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: grey;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: grey;
}
.mylist p {
   text-align: center;
}