@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    word-wrap: break-word;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    margin: 0;
}
.site-header {
    background: url('images/Layer-759_02.jpg');
    background-size: cover;
    min-height: 400px;
}

nav.top-navigation {
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;
}

nav.top-navigation ul {
    background: rgba(187, 148, 93, 0.9);
    text-align: center;
    padding: 0;
    margin: 0;
}

nav.top-navigation ul li {
    display: inline-block;
    padding: 10px;
}

nav.top-navigation ul li a {
    color: white;
    text-decoration: none;
}

nav.top-navigation ul li a:hover {
    color: #f5c686;
}

nav.top-navigation ul li a.selected {
    color: #f5c686;
}

section.slider {
    text-align: center;
}

section.slider h1 {
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px black;
    font-size: 3em;
    margin-top: 70px;
    font-weight: bold;
}

section.slider p {
    color: white;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    background: rgba(150, 150, 150, 0.4);
    box-shadow: 0px 0px 15px 15px rgba(150, 150, 150, 0.4);
    text-shadow: 0px 0px 10px black;
}

section.slider .slider-button {
    margin-top: 30px;
    display: inline-block;
    color: white;
    background: #161616;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

section.slider .slider-button .fa-chevron-right {
    color: #c79d63;
}

section.slider .slider-button:hover,
section.slider .slider-button:hover .fa-chevron-right {
    background: #c79d63;
    color: black;
}

section.industries {
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
}

.industries article {
    width: 350px;
    /*border: 1px solid green;*/
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.industries .icon {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 2em;
    background: black;
    color: white;
    border-radius: 50%;
    float: left;
}

.industries h1 {
    font-size: 3em;
}

.industries article h2,
.industries article p {
    text-align: left;
    margin-left: 64px;
}

.industries article h2 {
    font-size: 1.2em;
}

section.mission {
    text-align: center;
    background:
            linear-gradient(
                    rgba(255, 255, 255, 0.05),
                    rgba(255, 255, 255, 0.05)
            ),
            url(images/steel-bg.jpg);
    height: 115px;
}
section.mission h1 {
    padding-top: 20px;
    margin-bottom: 0;
    color: #BF9E71;
    margin-top: 0;
}
section.mission h2 {
    margin-top: 0;
}

section.benefits {
    text-align: center;
    background: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
    ),
    url(images/background-choose-us.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    color: white;
}

section.benefits > h1 {
    padding-top: 50px;
    text-transform: capitalize;
    margin-top: 0;
}

section.benefits article {
    width: 300px;
    border: 2px solid #BF9E71;
    margin: 10px;
    display: inline-block;
}


section.benefits article a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

section.benefits article a:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

section.benefits article p {
    text-align: left;
    margin: 14px 30px 30px 30px;
    font-size: 0.8em;
}

section.benefits article h1 {
    margin-top: 30px;
}

section.testimonials {
    background: url("images/consulting-woman.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    text-align: right;
}

section.testimonials article.testimonial {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 40px;
    margin-right: 20px;
    display: inline-block;
    width: 475px;
    min-height: 375px;
    margin-bottom: 10px;
}

section.testimonials article.testimonial p {
    font-size: 0.8em;
    margin: 60px 40px 10px 40px;
    text-align: justify;
}
section.testimonials article.testimonial p::before {
    content: open-quote;
    color: #BF9E71;
    font-size: 1.6em;
}

section.testimonials article.testimonial p::after {
    content: close-quote;
    color: #BF9E71;
    font-size: 1.6em;
}

section.testimonials article.testimonial .author {
    background-color: #080820;
    width: 395px;
    min-height: 200px;
    margin-left: 40px;
}

article.testimonial .author .position {
    font-size: 0.7em;
    margin-right: 15px;
    padding-top: 10px;
    color: #D0D0D0;
}

article.testimonial .author .name {
    float: left;
    margin-left: 15px;
    color: white;
}

section.partners {
    text-align: center;
}

section.partners li {
    display: inline-block;
    vertical-align: middle;
}

section.partners ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-footer {
    display: flex;
    background-color: #080820;
    justify-content: space-around;
}


.site-footer .consulting {
    margin-left: 30px;
    font-size: 0.8em;
    background-color: #080820;
    color: white;
}

.site-footer .consulting p {
    margin-left: 40px;
    margin-right: 100px;
}

.site-footer .consulting p:last-of-type {
    margin-bottom: 0;
}

.site-footer .consulting a {
    text-decoration: none;
    color: #080820;
    border-radius: 50%;
    background-color: #83838F;
    font-size: 1.6em;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    margin-top: 40px;
    margin-left: 10px;
    display: inline-block;
    line-height: 35px;
    text-align: center;
}

.site-footer .consulting a:first-of-type {
    margin-left: 70px;
}

.site-footer .extra-links {
    color: white;
    font-size: 0.8em;
}

.site-footer .extra-links > div {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.site-footer .extra-links a {
    text-decoration: none;
    color: #A18077;
    display: block;
    margin-bottom: 10px;
}

.site-footer .instagram-widget {
    color: white;
    font-size: 0.8em;

}

.site-footer .instagram-widget ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.instagram-widget ul li {
    display: inline-block;
    margin-right: -3px;

}

.instagram-widget ul li img {
    width: 80px;
    height: 80px;
}





.site-footer section {
    width: 300px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}
