@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

* {
    box-sizing: border-box;
}

body {
font-family: Tahoma, Helvetica, sans-serif;
    background-color: #EEEEEE;
    font-size: 10px;
}

section {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
}

header {
    text-align: center;
    margin: 0 auto;
    width: 550px;
    padding-top: 30px;border-bottom: 1px solid lightgrey;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

div.forms {
    width: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

form.account, form.login {
    width: 180px;
    margin-top: 20px;
    position: relative;
}

form.account i:first-of-type {
    background-color: #00FF01;
    color: white;
    padding: 2px;
    position: absolute;
    top: 25px;
    left: 145px;
}

form.account i:nth-of-type(2) {
    background-color: #00FF01;
    color: white;
    padding: 2px;
    position: absolute;
    top: 57px;
    left: 145px;
}

form.account i:nth-of-type(3) {
    background-color: #FC0601;
    color: white;
    padding: 2px;
    position: absolute;
    top: 88px;
    left: 145px;
}

form.account i:nth-of-type(4) {
    background-color: #FC0601;
    color: white;
    padding: 2px;
    position: absolute;
    top: 120px;
    left: 145px;
}

form.account span:first-of-type {
    font-weight: bold;
}

form.account input {
    margin-top: 10px;
}

form.account input::-webkit-input-placeholder {
    font-size: 8px;
    padding-left: 5px;
}

form.account input[type="submit"] {
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: #F0F0F0;
    width: 120px;
    height: 30px;
    margin-bottom: 30px;
    outline: none;
}

form.login span:first-of-type {
    font-weight: bold;
}

form.account span {
    color: #a5a5a5;
    font-size: 8px;
}

form.login i:first-of-type {
    background-color: #00FF01;
    color: white;
    padding: 2px;
    position: absolute;
    top: 25px;
    left: 145px;
}

form.login i:nth-of-type(2) {
    background-color: #FC0601;
    color: white;
    padding: 2px;
    position: absolute;
    top: 57px;
    left: 145px;
}

form.login input {
    margin-top: 10px;
}

form.login input::-webkit-input-placeholder {
    font-size: 8px;
    padding-left: 5px;
}

form.login input[type="submit"] {
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: #F0F0F0;
    width: 80px;
    height: 30px;
    margin-bottom: 30px;
    outline: none;
    margin-top: 0;
}


form.login a {
    text-decoration: none;
    color: #C88B93;
    font-size: 8px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

form.login a:hover {
    cursor: pointer;
    text-decoration: underline;
}

form.login input[type="submit"]:hover, form.account input[type="submit"]:hover {
    background-color: #AFDF67;
    cursor: pointer;
}


