body {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 15px;
    color: #191923;
    background-color: #CACACA;
}
header {
    width: 1000px;
    background-color: #ffffff;
    margin: 0 auto;
    height: 100px;
}
ul {
    list-style: none;
    padding-top: 40px;
    margin-left: -15px;
}
ul li {
    display: inline-block;
    padding-left: 15px;
}
ul li a {
    text-decoration: none;
    color: #191923;
}
ul li:first-child a {
    color: #BF1363;
}
ul li:hover a {
    color: #BF1363;
}
nav > ul li a:first-child {
    text-transform: capitalize;
}
body nav > ul li:nth-child(2) a {
    text-transform: uppercase;
}
body nav > ul li:nth-child(3) a {
    text-transform: uppercase;
}
body nav > ul li:nth-child(4) a {
    text-transform: uppercase;
}
section {
    width: 240px;
    display: inline-block;
    vertical-align: top;
}
img {
    width: 240px;
    height: 150px;
}
main {
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: justify;
}
main:after {
    content: "";
    width: 100%;
    display: inline-block;
}
div {
    background-color: #ffffff;
    height: 120px;
    margin-top: -22px;
    color: #191923;
    text-align: left;
}
h5, p {
    padding-left: 15px;
}
h5 {
    text-transform: uppercase;
    padding-top: 5px;
}
section:hover {
    cursor: pointer;
    opacity: 0.8;
}
