#wrapper {
    background-color: #5bc0de;
    width: 600px;
    height: 300px;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
}
#ringo {
    color: black;
    font-size: 22px;
    font-family: "Times New Roman";
    text-align: center;
}
h1, h2 {
    text-align: left;
}
body {
    background-color: burlywood;
}